*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(Digital\ Divide.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 125px;
    height: 100vh;
    border-radius: 10px;
    z-index: 1;
}

.navbar {
    display:flex;
    align-items: center;
}
.navbar-wrap{
    background-color: white;
    border-radius: 10px; 
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    margin: 0;
    box-shadow: 0px 2px 6px green ;
}
 .icon a img{
    height: 90px;
    margin-left: 40px;
    margin-top: 60px;
}
.home .arrow a img{
    height: 25px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 10px;

}
.media a{
    text-decoration: none;
    color: green;

}
.media ion-icon{
    color: green;
    font-size: 20px;
    padding-left: 14px;
    
}
.media ion-icon:hover{
    color: gray;
}
/*.home{
    height: 75px;
    margin: 0;
    margin-left: 10px;
}*/

/*.icon{
    float: left;
    height: 70px;
}*/
/*.logo{
    color: green;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    float: left;
    padding-top: 10px;
    text-decoration: underline;

}*/
/*.home :hover{
    color: gray;
    cursor: pointer;
}*/
.nav-list {
    list-style: none;
    display: flex;
    
}
.nav-list li {
    margin-left: 60px;
}


.nav-list li:first-child {
    margin-left: 10;
    margin-top: 0;
}
.nav-list li a {
    text-decoration: underline;
    color: rgb(92, 92, 92);
    font-weight: light;
    font-size: 20px;
    /*padding-bottom: 5px;*/
    display: inline-block;
    padding-top: 65px;
    padding: 5px 10px;
   /* margin: 2px;*/
    background-color: transparent;
}
/*.nav-list li a:hover {
    color: green;

}*/
.nav-list li:hover > a,
.nav-list li:hover .dropdown-content {
    background-color: rgb(73, 155, 73); /* Apply background color to both link and dropdown */
    color: white;
    border-radius: 5px;
}

.navbar{
    position: fixed;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    align-items: center;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(138, 133, 133);
    opacity: 3.0;
    width: 220px;
    padding:10px 0;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none; 

}
.dropdown-content .about{
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown .dropdown-content .about li{
    margin-bottom: 10px;
    margin-left: 20px;
}
.dropdown .dropdown-content .about li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Verdana;
    line-height: 1;
    display: block;
    padding: 6px 15px;
}

.dropdown-content .about li a:hover {
    color: white;
}

.navbar a:hover::after {
    width: 70%;
}
#image {
    height: 109vh;
    width: 100%;
    background: linear-gradient(45deg,rgb(2, 26, 2),rgb(194, 191, 191));
    opacity: 0.2;
    /*position: fixed;*/
}



/*.circle-container img{
    background-color: white;
    border-radius: 50%;
    opacity: 0.2;
}*/


.intro-goal{
    font-size: 25px;
    color: white;
    width: 50%;
    background-color: rgb(54, 53, 53);
    opacity: 1.8;
    border-radius: 50%;
    height: 200px;
    display: block;
    padding-top: 70px;
    padding-left: 30px;
    margin-left: 600px;
}
img#gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1; /* Adjust the opacity as desired (0.0 to 1.0) */
    z-index: 1; /* Place it behind other content */
    margin-top: 125px;
}
.scrolling-content h1{
margin-left: 200px;
font-size: 50px;
padding-top: 20px;

}
 #goal-icon img{
    height: 50px;
    width: 75px;
    background-color: rgb(121, 126, 114);
    border-radius: 10px;
    margin-left: 150px;
}
#goal-icon img:hover {
    background-color: rgb(117, 145, 117); /* Change background color on hover */
    transform: translateY(-10px); /* Move the image up on hover */
}

/* Reset the transform when not hovering */
#goal-icon img:not(:hover) {
    transform: translateY(0);
}

.our-focus{
    margin-left: 200px;
    width: 450px;
    font-size: 25px;
}.main-content{
    background-color: rgb(2, 24, 2);
    color: white;
}
#image-goal img {
width:400px;
height: auto;
margin-left: 800px;
padding-bottom: 10px;
}
.short-goal{
    margin-left: 100px;
    width: 300px;
    font-size: 20px;
}
#short-icon img {
    height: 50px;
    width: 75px;
    background-color: rgb(121, 126, 114);
    border-radius: 10px;
    margin-left: 50px;
}
#short-icon img:hover {
    background-color: rgb(117, 145, 117); /* Change background color on hover */
    transform: translateY(-10px); /* Move the image up on hover */
}

/* Reset the transform when not hovering */
#short-icon img:not(:hover) {
    transform: translateY(0);
}
img#code-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220vh;
    opacity: 0.1; /* Adjust the opacity as desired (0.0 to 1.0) */
    z-index: 1; /* Place it behind other content */
    margin-top: 780px;
}
.long-goal{
    margin-left: 800px;
    font-size: 20px;
}
    
